<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Live input record and playback</title>
  <style type='text/css'>
    ul { list-style: none; }
    #recordingslist audio { display: block; margin-bottom: 10px; }
  </style>
</head>
<body>

  <button onclick="startRecording(this);">开始</button>
  <button onclick="stopRecording(this);" disabled>结束</button>

  
  <h2>语音记录</h2>
  <h4>请等待网页加载网后，按“开始”录音。<br>按“结束”会进行语音识别。<br>服务器在香港，会有点慢。</h4>
  <pre id="log"></pre>

  <script>
  function __log(e, data) {
    log.innerHTML += "\n" + e + " " + (data || '');
  }

  var audio_context;
  var rec;
  var first=true;



  function startRecording(button) {
    if(rec===null){
      rec=Recorder({
        type:"wav",sampleRate:16000,bitRate:16 //mp3格式，指定采样率hz、比特率kbps，其他参数使用默认配置；注意：是数字的参数必须提供数字，不要用字符串；需要使用的type类型，需提前把格式支持文件加载进来，比如使用wav格式需要提前加载wav.js编码引擎
        ,onProcess:function(buffers,powerLevel,bufferDuration,bufferSampleRate,newBufferIdx,asyncEnd){
          //录音实时回调，大约1秒调用12次本回调
          //可利用extensions/waveview.js扩展实时绘制波形
          //可利用extensions/sonic.js扩展实时变速变调，此扩展计算量巨大，onProcess需要返回true开启异步模式
        }
      });

      //var dialog=createDelayDialog(); 我们可以选择性的弹一个对话框：为了防止移动端浏览器存在第三种情况：用户忽略，并且（或者国产系统UC系）浏览器没有任何回调，此处demo省略了弹窗的代码
      rec.open(function(){//打开麦克风授权获得相关资源
        //dialog&&dialog.Cancel(); 如果开启了弹框，此处需要取消
        //rec.start() 此处可以立即开始录音，但不建议这样编写，因为open是一个延迟漫长的操作，通过两次用户操作来分别调用open和start是推荐的最佳流程

      },function(msg,isUserNotAllow){//用户拒绝未授权或不支持
        //dialog&&dialog.Cancel(); 如果开启了弹框，此处需要取消
        console.log((isUserNotAllow?"UserNotAllow，":"")+"无法录音:"+msg);
        __log((isUserNotAllow?"UserNotAllow，":"")+"无法录音:"+msg);
        rec=null;
      });
    }
    if(rec===null){return;}
    rec.start();
    button.disabled = true;
    button.nextElementSibling.disabled = false;
  }

  function stopRecording(button) {
    rec.stop(function(blob,duration){
      console.log(blob,(window.URL||webkitURL).createObjectURL(blob),"时长:"+duration+"ms");
      //rec.close();//释放录音资源，当然可以不释放，后面可以连续调用start；但不释放时系统或浏览器会一直提示在录音，最佳操作是录完就close掉
      //rec=null;

      //已经拿到blob文件对象想干嘛就干嘛：立即播放、上传
      var fd = new FormData();
      fd.append('filetitle', "data");//文件名：string
      fd.append('filedata', blob);//文件内容：blob
      $.ajax({
        type: 'POST',
        url: "/postdata",
        data: fd,
        processData: false,
        contentType: false
      }).done(function (data) {
        //data: 服务器返回的数据
        //TODO ......
        console.log("结果是："+data);
        __log(data);
      });

    },function(msg){
      console.log("录音失败:"+msg);
      __log("录音失败:"+msg);
      rec.close();//可以通过stop方法的第3个参数来自动调用close
      rec=null;
    });
    button.disabled = true;
    button.previousElementSibling.disabled = false;

    
    // create WAV download link using audio data blob


  }

  function createDownloadLink() {
    recorder && recorder.exportWAV(function(blob) {

      //var url = URL.createObjectURL(blob);
      //var li = document.createElement('li');
      //var au = document.createElement('audio');
      //var hf = document.createElement('a');

      //au.controls = true;
      //au.src = url;
      //hf.href = url;
      //hf.download = new Date().toISOString() + '.wav';
      //hf.innerHTML = hf.download;
      //li.appendChild(au);
      //li.appendChild(hf);
      //recordingslist.appendChild(li);
    });
  }

  window.onload = function init() {
    rec=Recorder({
      type:"wav",sampleRate:16000,bitRate:16 //mp3格式，指定采样率hz、比特率kbps，其他参数使用默认配置；注意：是数字的参数必须提供数字，不要用字符串；需要使用的type类型，需提前把格式支持文件加载进来，比如使用wav格式需要提前加载wav.js编码引擎
      ,onProcess:function(buffers,powerLevel,bufferDuration,bufferSampleRate,newBufferIdx,asyncEnd){
        //录音实时回调，大约1秒调用12次本回调
        //可利用extensions/waveview.js扩展实时绘制波形
        //可利用extensions/sonic.js扩展实时变速变调，此扩展计算量巨大，onProcess需要返回true开启异步模式
      }
    });

    //var dialog=createDelayDialog(); 我们可以选择性的弹一个对话框：为了防止移动端浏览器存在第三种情况：用户忽略，并且（或者国产系统UC系）浏览器没有任何回调，此处demo省略了弹窗的代码
    rec.open(function(){//打开麦克风授权获得相关资源
      //dialog&&dialog.Cancel(); 如果开启了弹框，此处需要取消
      //rec.start() 此处可以立即开始录音，但不建议这样编写，因为open是一个延迟漫长的操作，通过两次用户操作来分别调用open和start是推荐的最佳流程

    },function(msg,isUserNotAllow){//用户拒绝未授权或不支持
      //dialog&&dialog.Cancel(); 如果开启了弹框，此处需要取消
      console.log((isUserNotAllow?"UserNotAllow，":"")+"无法录音:"+msg);
      __log((isUserNotAllow?"UserNotAllow，":"")+"无法录音:"+msg);
      rec=null;
    });
  };
  </script>

  <script src="/speech/jquery-3.5.1.js"></script>
  <script src="/speech/record-core.js"></script>
  <script src="/speech/wav.js"></script>
</body>
</html>
